################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IT/v17
/Lab1. Local version/.vs/MyDBSM/FileContentIndex
